<div class="index-container">
    <div class="container text-center">

    <div class="row justify-content-evenly row-layout">

        <div class="col-6 col-xs-13 col1">
            
            <div class="text-layout">
                <h1>Ironhack Cinema</h1>
                <hr>
                <p>Come in and take a seat, you are all welcome to the largest cinema platform ever programmed. When you press this button you will have access to endless titles of the best movies to enjoy on the couch and with the blanket, it's getting cooler.</p>
                <button><a href="/movies">Check the movies</a></button>
            </div>

        </div>

        <div class="col-6 col-xs-13 col2">
            <img src="/images/girl_cinema.png" alt="">
        </div>

    </div>
    </div>
</div>