<div class="list-container">
    {{#each movies as |movie|}}
        <img src="{{movie.image}}">
        <h1>{{ movie.title }}</h1>
        <a href="/movies/{{movie._id}}">See more</a>
    {{/each}}
</div>